## Preliminaries

In [9]:
# Standard imports
import numpy as np
import pandas as pd
import geopandas as gpd
import matplotlib.pyplot as plt
import plotly.graph_objects as go
import seaborn as sns
from warnings import filterwarnings

# Important functionality for this notebook
from scipy import stats
import statsmodels.api as sm
import os
from pathlib import Path # For working with file paths
import re # For regex

In [7]:
# Set directory

PATH = f"C:/Users/emshe/Desktop/BRAINSTATION/CAPSTONE/GIT_REPO/DATA/ECONOMIC"

In [10]:
# Load geographic GEOJSON file

gdf = gpd.read_file("C:/Users/emshe/Desktop/BRAINSTATION/CAPSTONE/GIT_REPO/DATA/GEOGRAPHIC/PROCESSED/nbhds_with_zones.geojson")

In [14]:
# Load CPI csv file and set up inflation conversion dictionary

cpi_rows = pd.read_csv(
    f"{PATH}/INFLATION/bc_cpi_excl_shelter.csv",
    header=None,
    skiprows=8,     # start at row 9 (0-based)
    nrows=5,        # read a few rows to grab 9 and 11
    usecols=range(1, 10)  # columns B to J (1â€“9)
)

# Extract years from row index 1
years = cpi_rows.iloc[1].astype(int).values

# Extract corresponding CPI values from row index 3
cpi_values = cpi_rows.iloc[3].astype(float).values

# Compute CPI_2024
cpi_2024 = cpi_values[-1]

# Build dictionary: {year: CPI_2024 / CPI_year}
inflation_conversion_dict = {
    year: cpi_2024 / cpi for year, cpi in zip(years, cpi_values)
}

In [13]:
# Define function to examine dataframes

def examine_df(name,df):
    """
    Check basic info about a dataframe df
    """
    
    print(f"\n\nNumber of records in the {name} is: {len(df)}\n")
    print(f"The columns in the {name} are: {df.columns}\n")
    print(f"\n Other info about {name}:")
    display(df.info())
    print(f"\n\nSample of records in the {name}:")
    display(df.head(5))

## Define base data processor class

In [4]:
# Define base data folder processor class

class BaseDataFolderProcessor:
    
    def __init__(self, folder_path, file_prefix, year_range = range(2016, 2025)):
        
        """
        Initialize data folder processor
        """
        
        self.folder_path = Path(folder_path)
        self.file_prefix = file_prefix
        self.year_range = year_range # Our default year range for this project is 2016 to 2024 so we make this argument optional
        self.vancouver_averages = {} 
        self.data_by_year = self.load_data()
        self.full_data = self.combine_yearly_data()
        

    def load_data(self): # Load CSV files into a dictionary keyed by year.

        """
        Load data from folder into dictionary
        """
        
        data_dict = {}
        for year in self.year_range:
            file_name = f"{self.file_prefix}_{year}.csv"
            file_path = self.folder_path / file_name
            if file_path.exists():
                try:
                    df = pd.read_csv(file_path, skiprows=2, encoding='latin1', na_values = '**',usecols=range(11))
                    df = self.clean_dataframe(df,file_name)
                    data_dict[year] = df
                except Exception as e:
                    print(f"Error loading {file_name}: {e}")
            else:
                print(f"Warning: {file_name} not found.")
        return data_dict
    
    def clean_dataframe(self, df, file_name):
        
        """
        Clean dataframe for specific year
        """

        # Determine the year from the filename
        match_year = re.search(r'_(\d{4})\.csv$', file_name)
        year = int(match_year.group(1)) if match_year else None
        
        match = re.search(r'by_(\w+)_\d{4}', file_name)
        if match:
            area_type = match.group(1).capitalize()
            df.columns.values[0] = area_type  # Rename first column
        else:
            df.columns.values[0] = 'area'  # Fallback name
    
        # Drop data quality columns based on their positions (C, E, G, I, K -> 2, 4, 6, 8, 10)
        dq_col_indices = [2, 4, 6, 8, 10]
        dq_cols = [df.columns[i] for i in dq_col_indices if i < len(df.columns)]
        df = df.drop(columns=dq_cols)

        # Standardize column names
        df.columns = (
            df.columns
            .str.lower()
            .str.replace(' ', '_')
            .str.replace('1', 'one')
            .str.replace('2', 'two')
            .str.replace('3', 'three')
            .str.replace('+', 'plus')
            .str.replace('neigh', 'nbhd')
            .str.replace('bachelor','studio')
        )

        
        # Store Vancouver-wide averages before dropping
        area_col = df.columns[0]
        vancouver_row = df[df[area_col].str.strip().str.lower() == 'vancouver']
    
        if not vancouver_row.empty and year is not None:
            self.vancouver_averages[year] = vancouver_row.squeeze()
        
        # Find the index of the row where area == 'Vancouver'
        vancouver_index = vancouver_row.index.min()
        
        # Drop that row and all rows after it in order to exclude unnecessary rows
        if pd.notnull(vancouver_index):
            df = df.loc[:vancouver_index - 1]
        
        return df

    def get_data_for_year(self, year):
        
        """
        Get dataframe for specific year
        """
        
        return self.data_by_year.get(year)


    def combine_yearly_data(self):
        
        """
        Combine the yearly data into a single long DataFrame with a 'year' column
        """
        
        combined_dfs = []
        for year in self.data_by_year.keys():
            df_copy = self.data_by_year[year].copy()
            if df_copy.empty:
                print(f"Warning: no valid data for year {year}, skipping.")
                continue
    
            df_copy['year'] = year
    
            # Reorder columns: move 'year' to second column
            cols = df_copy.columns.tolist()
            if 'year' in cols:
                cols.insert(1, cols.pop(cols.index('year')))
            df_copy = df_copy[cols]
            combined_dfs.append(df_copy)
    
        if not combined_dfs:
            raise ValueError("No valid dataframes to concatenate in combine_yearly_data.")
    
        self.full_data = pd.concat(combined_dfs, ignore_index=True)
        return self.full_data
        
    def save_processed_data(self):
        pass

In [5]:
# Define multifolder data folder processor class

class MultiFolderDataProcessor:
   
    def __init__(self, base_folder_path, folder_prefix_pairs, year_range=range(2016, 2025)):
        
        """
        Initialize multifolder data processor
        """
        
        self.base_folder_path = Path(base_folder_path)
        self.folder_prefix_pairs = folder_prefix_pairs
        self.year_range = year_range
        self.gdf = gdf  # Provided externally

        self.vancouver_averages_by_year = {}
        self.processors = {}
        self.data = self.load_all_data()
        self.completed_data = self.impute_neighborhood_rents()

    def load_all_data(self): 
        
        """
        Loads data from all subfolders and prefixes into a nested dictionary
        """
        
        all_data = {}
        for subfolder, prefix in self.folder_prefix_pairs:
            full_path = self.base_folder_path / subfolder
            processor = BaseDataFolderProcessor(full_path, prefix, self.year_range)
            self.processors[subfolder] = processor
            all_data[subfolder] = processor.full_data
    
            # Collect Vancouver averages from BY_NEIGHBORHOOD
            if subfolder.upper() == "BY_NEIGHBORHOOD":
                for year, series in processor.vancouver_averages.items():
                    self.vancouver_averages_by_year[year] = series
    
        return all_data

    def get_data(self, subfolder, year):
        """
        Retrieve DataFrame for a specific subfolder and year
        """
        df = self.data.get(subfolder)
        if df is not None:
            return df[df['year'] == year].copy()
        return None


    def impute_neighborhood_rents(self):
        neighborhood_data = []
    
        for year in self.year_range:           
            nbhd_df = self.get_data("BY_NEIGHBORHOOD", year)
            zone_df = self.get_data("BY_ZONE", year)
            
            # processor = self.processors.get("BY_NEIGHBORHOOD")
            # vancouver_series = processor.vancouver_averages.get(year) if processor else None
            vancouver_series = self.vancouver_averages_by_year.get(year)

            
            if nbhd_df is None or zone_df is None or vancouver_series is None:
                continue
    
            # Clean 'nbhd' for join
            nbhd_df['nbhd'] = nbhd_df['nbhd'].str.strip().str.lower()
            gdf_clean = self.gdf.copy()
            gdf_clean['nbhd'] = gdf_clean['nbhd'].str.strip().str.lower()
    
            # Merge with zone info
            merged = nbhd_df.merge(gdf_clean, on='nbhd', how='left')
    
            # Debug zone join
            if merged['zone'].isnull().any():
                print(f"[DEBUG] Year {year}: Zone missing for neighborhoods:")
                print(merged.loc[merged['zone'].isnull(), 'nbhd'].unique())
    
            # Merge with zone-level rent data
            merged = merged.merge(
                zone_df,
                on=['zone', 'year'],
                how='left',
                suffixes=('', '_zone')
            )
    
            rent_columns = ['studio', 'one_bedroom', 'two_bedroom', 'three_bedroom_plus', 'total']
            for col in rent_columns:
                merged[col] = merged[col].fillna(merged[f'{col}_zone'])
    
            if vancouver_series is not None:
                for col in rent_columns:
                    if col in vancouver_series.index:
                        merged[col] = merged[col].fillna(vancouver_series[col])
    
            merged = merged.drop(columns=[f'{col}_zone' for col in rent_columns])
    
            final_cols = ['nbhd', 'zone', 'year'] + rent_columns
            merged = merged[final_cols]
            neighborhood_data.append(merged)
    
        return pd.concat(neighborhood_data, ignore_index=True)

In [24]:
# Define complete data processor class

class CompleteDataProcessor:
    
    def __init__(self, data_processors: dict):
        """
        data_processors: dict with keys like 'avg_rent', 'med_rent', 'vacancy_rate'
                         and values as MultiFolderDataProcessor instances
        """
        self.data_processors = data_processors
        self.inflation_dict = inflation_conversion_dict
        
        self.full_data = self.join_data()
        self.convert_rent_columns_to_float()  # Automatically clean rent columns
        self.adjust_rent_for_inflation() # Adjust rent for inflation
        self.sort_data()
        self.calculate_percentage_changes()

    def sort_data(self):
        """
        Sort the dataframe first by year (ascending), then by neighborhood (alphabetically).
        """
        self.full_data = self.full_data.sort_values(by=['year', 'nbhd'], ascending=[True, True]).reset_index(drop=True)
    
    def join_data(self):
        """
        Horizontally merge processed data from all provided data processors
        """
        merged_df = None

        for name, processor in self.data_processors.items():
            df = processor.completed_data.copy()

            # Rename rent or vacancy columns with prefix
            cols_to_rename = {
                col: f"{name}_{col}" for col in df.columns
                if col not in ['nbhd', 'zone', 'year']
            }
            df = df.rename(columns=cols_to_rename)

            # Merge into the final dataframe
            if merged_df is None:
                merged_df = df
            else:
                merged_df = pd.merge(merged_df, df, on=['nbhd', 'zone', 'year'], how='outer')

        return merged_df

    def convert_rent_columns_to_float(self):
        
        """
        Convert rent columns (that are currently strings with commas) to float.
        This includes all columns with 'rent' in the name.
        """
        
        for col in self.full_data.columns:
            if self.full_data[col].dtype == 'object':
                if 'rent' in col:
                    # Remove commas and convert to float
                    self.full_data[col] = (
                        self.full_data[col]
                        .astype(str)
                        .str.replace(',', '', regex=False)
                        .str.strip()
                        .replace('', pd.NA)
                        .astype(float)
                    )
                elif 'vacancy_rate' in col:
                    # Convert vacancy rate strings directly to float
                    self.full_data[col] = (
                        self.full_data[col]
                        .astype(str)
                        .str.strip()
                        .replace('', pd.NA)
                        .astype(float)
                    )
    def save(self, filename: str):
        self.full_data.to_csv(f"{PATH}/PROCESSED/{filename}", index=False)

    def adjust_rent_for_inflation(self):
        """
        Adjust all rent columns to 2024 dollars using the inflation_dict.
        """
        rent_cols = [col for col in self.full_data.columns if 'rent' in col]

        for col in rent_cols:
            self.full_data[col] = self.full_data.apply(
                lambda row: row[col] * self.inflation_dict.get(row['year'], 1.0),
                axis=1
            )

    def calculate_percentage_changes(self):
        
        """
        Calculate the percentage change for each numerical column (except 'nbhd', 'zone', 'year').
        Drops rows for the earliest year (2016) after calculating.
        """
         
        # List of numerical columns to calculate percentage change
        
        rent_columns = [
            'avg_rent_studio', 'avg_rent_one_bedroom', 'avg_rent_two_bedroom', 
            'avg_rent_three_bedroom_plus', 'avg_rent_total',
            'med_rent_studio', 'med_rent_one_bedroom', 'med_rent_two_bedroom', 
            'med_rent_three_bedroom_plus', 'med_rent_total'
        ]
        
        vacancy_rate_columns = [
            'vacancy_rate_studio', 'vacancy_rate_one_bedroom', 'vacancy_rate_two_bedroom', 
            'vacancy_rate_three_bedroom_plus', 'vacancy_rate_total'
        ]
        
        # Ensure data is sorted by year within each neighborhood
        self.full_data = self.full_data.sort_values(by=['nbhd', 'year'])
    

        # Handle rent columns (percentage change)
        for col in rent_columns:
            change_col = f"{col}_change"
            self.full_data[change_col] = self.full_data.groupby('nbhd')[col].pct_change()
        
        # Handle vacancy rate columns (absolute change)
        for col in vacancy_rate_columns:
            change_col = f"{col}_change"
            self.full_data[change_col] = self.full_data.groupby('nbhd')[col].diff()
        
        # Drop the rows for the earliest year (2016), which will have NaN changes
        self.full_data = self.full_data[self.full_data['year'] > 2016].reset_index(drop=True)

In [8]:
# Test multifolder data processor

multi = MultiFolderDataProcessor(
    f"{PATH}/AVG_RENTS",
    [("BY_NEIGHBORHOOD", "avg_rent_by_neigh"), ("BY_ZONE", "avg_rent_by_zone")]
)

# gdf must include columns: nbhd, zone
filled_nbhd_df = multi.completed_data
examine_df('filled df', filled_nbhd_df)

Number of records in the filled df is: 612

The columns in the filled df are: Index(['nbhd', 'zone', 'year', 'studio', 'one_bedroom', 'two_bedroom',
       'three_bedroom_plus', 'total'],
      dtype='object')


 Other info about filled df:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 612 entries, 0 to 611
Data columns (total 8 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   nbhd                612 non-null    object
 1   zone                612 non-null    object
 2   year                612 non-null    int64
 3   studio              606 non-null    object
 4   one_bedroom         612 non-null    object
 5   two_bedroom         612 non-null    object
 6   three_bedroom_plus  563 non-null    object
 7   total               612 non-null    object
dtypes: int64(1), object(7)
memory usage: 38.4+ KB

None

Sample of records in the filled df:

,nbhd,zone,year,studio,one_bedroom,two_bedroom,three_bedroom_plus,total
0,ambleside,West Vancouver,2016,"1,120","1,461","2,337","3,670","1,723"
1,capital hill/brentwood,North Burnaby,2016,762,992,"1,242","1,377","1,059"
2,cedar cottage,Mount Pleasant/Renfrew Heights,2016,"1,085",962,"1,377","1,672","1,086"
3,central lonsdale,North Vancouver CY,2016,"1,068","1,271","1,493","1,818","1,312"
4,central park,Central Park/Metrotown,2016,"1,106","1,100","1,473","1,784","1,208"

## Testing function: test_sequence()

In [9]:
# Define function to streamline testing

def test_sequence(folder_name, file_name):
    
    """
    Test base data folder processor functionality
    """
    
    # Initialize avg rent by census tract class
    avg_rent_processor = BaseDataFolderProcessor(folder_name, file_name)

    # Extract data dictionary
    data_dict = avg_rent_processor.data_by_year
    
    # Extract 2020 specific data
    df_2020 = avg_rent_processor.get_data_for_year(2020)

    # Extract dataframe for all years
    avg_rent_df = avg_rent_processor.full_data

    # Print average vancouver rent dictionary
    # van_rent = avg_rent_processor.vancouver_averages
    # print(f''' Overall Vancouver rent:
    #         {van_rent}''')
    
    # Examine dataframe sample
    display(avg_rent_df.head(5))
    display(avg_rent_df.info())
    display(avg_rent_df['year'].value_counts())
    return avg_rent_df

## Construct full economic dataframe

In [27]:
# Check for years where studio or three_bedroom_plus are missing in Vancouver-wide averages
missing_vancouver_data = []

for year, vancouver_row in multi_processor.vancouver_averages_by_year.items():
    missing_cols = []
    for col in ['studio', 'three_bedroom_plus']:
        val = vancouver_row.get(col)
        if pd.isnull(val) or str(val).strip() == '':
            missing_cols.append(col)
    if missing_cols:
        missing_vancouver_data.append((year, missing_cols))

if missing_vancouver_data:
    print("Missing Vancouver average values for the following years and columns:")
    for year, cols in missing_vancouver_data:
        print(f"Year {year}: Missing {', '.join(cols)}")
else:
    print("All Vancouver-wide average values are present for required columns.")

All Vancouver-wide average values are present for required columns.

In [38]:
# Construct full economic dataframe for some metric with imputed values

folder_prefix_pairs = [
    ("BY_NEIGHBORHOOD", "avg_rent_by_neigh"),
    ("BY_ZONE", "avg_rent_by_zone")
]

# Create the processor
multi_processor = MultiFolderDataProcessor(
    base_folder_path=Path(f"{PATH}/AVG_RENTS"),
    folder_prefix_pairs=folder_prefix_pairs,
    year_range=range(2016, 2025)
)

# Access the final imputed dataframe
final_df = multi_processor.completed_data

# Show info
display(final_df.info())

# Show sample
display(final_df.head())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 612 entries, 0 to 611
Data columns (total 8 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   nbhd                612 non-null    object
 1   zone                612 non-null    object
 2   year                612 non-null    int64
 3   studio              612 non-null    object
 4   one_bedroom         612 non-null    object
 5   two_bedroom         612 non-null    object
 6   three_bedroom_plus  612 non-null    object
 7   total               612 non-null    object
dtypes: int64(1), object(7)
memory usage: 38.4+ KB

None

,nbhd,zone,year,studio,one_bedroom,two_bedroom,three_bedroom_plus,total
0,ambleside,West Vancouver,2016,"1,120","1,461","2,337","3,670","1,723"
1,capital hill/brentwood,North Burnaby,2016,762,992,"1,242","1,377","1,059"
2,cedar cottage,Mount Pleasant/Renfrew Heights,2016,"1,085",962,"1,377","1,672","1,086"
3,central lonsdale,North Vancouver CY,2016,"1,068","1,271","1,493","1,818","1,312"
4,central park,Central Park/Metrotown,2016,"1,106","1,100","1,473","1,784","1,208"

In [11]:
# Set up processors for different economic metrics

# Define folder and prefix pairs
avg_rent_folder_prefix_pairs = [
    ("BY_NEIGHBORHOOD", "avg_rent_by_neigh"),
    ("BY_ZONE", "avg_rent_by_zone")
]

med_rent_folder_prefix_pairs = [
    ("BY_NEIGHBORHOOD", "med_rent_by_neigh"),
    ("BY_ZONE", "med_rent_by_zone")
]

vacancy_folder_prefix_pairs = [
    ("BY_NEIGHBORHOOD", "vac_rate_by_neigh"),
    ("BY_ZONE", "vac_rate_by_zone")
]



avg_rent_processor = MultiFolderDataProcessor(
    base_folder_path=Path(f"{PATH}/AVG_RENTS"),
    folder_prefix_pairs=avg_rent_folder_prefix_pairs,
    year_range=range(2016, 2025)
)

med_rent_processor = MultiFolderDataProcessor(
    base_folder_path=Path(f"{PATH}/MED_RENTS"),
    folder_prefix_pairs=med_rent_folder_prefix_pairs,
    year_range=range(2016, 2025)
)

vacancy_rate_processor = MultiFolderDataProcessor(
    base_folder_path=Path(f"{PATH}/VACANCY_RATES"),
    folder_prefix_pairs=vacancy_folder_prefix_pairs,
    year_range=range(2016, 2025)
)

In [32]:
# Construct full cleaned economic dataframe and save to PROCESSED folder

data_processors = {
    'avg_rent': avg_rent_processor,     # MultiFolderDataProcessor instance
    'med_rent': med_rent_processor,
    'vacancy_rate': vacancy_rate_processor
}

complete_processor = CompleteDataProcessor(data_processors)
final_econ_df = complete_processor.full_data



display(final_econ_df.info())
display(final_econ_df.head())

complete_processor.save("full_economic_data.csv")

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 544 entries, 0 to 543
Data columns (total 33 columns):
 #   Column                                  Non-Null Count  Dtype
---  ------                                  --------------  -----
 0   nbhd                                    544 non-null    object
 1   zone                                    544 non-null    object
 2   year                                    544 non-null    int64
 3   avg_rent_studio                         544 non-null    float64
 4   avg_rent_one_bedroom                    544 non-null    float64
 5   avg_rent_two_bedroom                    544 non-null    float64
 6   avg_rent_three_bedroom_plus             544 non-null    float64
 7   avg_rent_total                          544 non-null    float64
 8   med_rent_studio                         544 non-null    float64
 9   med_rent_one_bedroom                    544 non-null    float64
 10  med_rent_two_bedroom                    544 non-null    float64
 11  med_rent_three_bedroom_plus             544 non-null    float64
 12  med_rent_total                          544 non-null    float64
 13  vacancy_rate_studio                     544 non-null    float64
 14  vacancy_rate_one_bedroom                544 non-null    float64
 15  vacancy_rate_two_bedroom                544 non-null    float64
 16  vacancy_rate_three_bedroom_plus         544 non-null    float64
 17  vacancy_rate_total                      544 non-null    float64
 18  avg_rent_studio_change                  544 non-null    float64
 19  avg_rent_one_bedroom_change             544 non-null    float64
 20  avg_rent_two_bedroom_change             544 non-null    float64
 21  avg_rent_three_bedroom_plus_change      544 non-null    float64
 22  avg_rent_total_change                   544 non-null    float64
 23  med_rent_studio_change                  544 non-null    float64
 24  med_rent_one_bedroom_change             544 non-null    float64
 25  med_rent_two_bedroom_change             544 non-null    float64
 26  med_rent_three_bedroom_plus_change      544 non-null    float64
 27  med_rent_total_change                   544 non-null    float64
 28  vacancy_rate_studio_change              544 non-null    float64
 29  vacancy_rate_one_bedroom_change         544 non-null    float64
 30  vacancy_rate_two_bedroom_change         544 non-null    float64
 31  vacancy_rate_three_bedroom_plus_change  544 non-null    float64
 32  vacancy_rate_total_change               544 non-null    float64
dtypes: float64(30), int64(1), object(2)
memory usage: 140.4+ KB

None

,nbhd,zone,year,avg_rent_studio,avg_rent_one_bedroom,avg_rent_two_bedroom,avg_rent_three_bedroom_plus,avg_rent_total,med_rent_studio,med_rent_one_bedroom,...,med_rent_studio_change,med_rent_one_bedroom_change,med_rent_two_bedroom_change,med_rent_three_bedroom_plus_change,med_rent_total_change,vacancy_rate_studio_change,vacancy_rate_one_bedroom_change,vacancy_rate_two_bedroom_change,vacancy_rate_three_bedroom_plus_change,vacancy_rate_total_change
0,ambleside,West Vancouver,2017,1415.228235,1837.167059,2835.237647,4064.000000,2119.256471,1434.352941,1912.470588,...,0.071230,0.047425,0.022876,-0.060123,0.013637,2.4,-0.4,0.4,0.4,0.0
1,ambleside,West Vancouver,2018,1458.702372,1871.476664,2686.530987,4222.191278,2132.667177,1457.536343,1865.646519,...,0.016163,-0.024484,-0.083015,0.048316,0.036486,-2.4,0.1,-0.4,-0.2,-0.2
2,ambleside,West Vancouver,2019,1551.336323,1970.493274,2755.273543,4263.327354,2221.076233,1509.192825,2033.139013,...,0.035441,0.089777,0.039182,-0.077437,0.048657,0.0,0.7,3.0,3.0,1.3
3,ambleside,West Vancouver,2020,1496.805948,1987.431970,3108.053532,4083.640149,2297.897398,1473.011152,1997.629740,...,-0.023974,-0.017465,0.074379,0.053313,0.008423,1.2,1.5,3.6,3.6,2.2
4,ambleside,West Vancouver,2021,1426.321923,1960.221413,3048.000000,4358.884195,2235.495994,1442.971595,1981.310998,...,-0.020393,-0.008169,0.161015,0.081649,-0.054812,2.4,-2.0,-6.1,-3.7,-3.2

In [29]:
# Check that we computed the percentage changes correctly

# Choose a specific neighborhood (e.g., 'Neighborhood_A') and check the changes
example_nbhd = 'collingwood'

# Filter the dataframe for the selected neighborhood and sort by year
example_data = final_econ_df[final_econ_df['nbhd'] == example_nbhd].sort_values(by='year')

# Display the relevant columns to check changes for 2022 to 2023
columns_to_check = [
    'year', 'avg_rent_studio', 'avg_rent_studio_change',
    'avg_rent_one_bedroom', 'avg_rent_one_bedroom_change',
    'vacancy_rate_studio', 'vacancy_rate_studio_change'
]

print(example_data[columns_to_check])

# Check specific rows for 2022 and 2023
example_row_2022 = example_data[example_data['year'] == 2022].iloc[0]
example_row_2023 = example_data[example_data['year'] == 2023].iloc[0]

# Display values for avg_rent_studio and calculate the percentage change manually
print(f"2022 avg_rent_studio: {example_row_2022['avg_rent_studio']}")
print(f"2023 avg_rent_studio: {example_row_2023['avg_rent_studio']}")
print(f"Percentage change from 2022 to 2023 in avg_rent_studio: "
      f"{(example_row_2023['avg_rent_studio'] - example_row_2022['avg_rent_studio']) / example_row_2022['avg_rent_studio']}")

# Check for the absolute change in vacancy_rate_studio
print(f"2022 vacancy_rate_studio: {example_row_2022['vacancy_rate_studio']}")
print(f"2023 vacancy_rate_studio: {example_row_2023['vacancy_rate_studio']}")
print(f"Absolute change in vacancy_rate_studio from 2022 to 2023: "
      f"{example_row_2023['vacancy_rate_studio'] - example_row_2022['vacancy_rate_studio']}")

    year  avg_rent_studio  avg_rent_studio_change  avg_rent_one_bedroom  \
48  2017      1223.981176                0.030254           1369.807059
49  2018      1302.454476                0.064113           1406.231064
50  2019      1370.233184                0.052039           1434.017937
51  2020      1431.086989                0.044411           1588.585874
52  2021      1533.989803                0.071905           1520.670066
53  2022      1435.455913               -0.064234           1476.082023
54  2023      1110.660477               -0.226266           1532.084881
55  2024      1187.000000                0.068733           1670.000000

    avg_rent_one_bedroom_change  vacancy_rate_studio  \
48                     0.023955                  0.0
49                     0.026591                  0.0
50                     0.019760                  1.4
51                     0.107787                  7.2
52                    -0.042752                  0.9
53                    -0.029321                  0.0
54                     0.037940                  0.5
55                     0.090018                  0.6

    vacancy_rate_studio_change
48                        -1.6
49                         0.0
50                         1.4
51                         5.8
52                        -6.3
53                        -0.9
54                         0.5
55                         0.1
2022 avg_rent_studio: 1435.455912508544
2023 avg_rent_studio: 1110.6604774535808
Percentage change from 2022 to 2023 in avg_rent_studio: -0.2262663953833065
2022 vacancy_rate_studio: 0.0
2023 vacancy_rate_studio: 0.5
Absolute change in vacancy_rate_studio from 2022 to 2023: 0.5

## Test constructing economic dataframe with zones and neighborhoods

In [11]:
# Run test sequence for rents by zone
avg_rent_by_zone_df = test_sequence(f"{PATH}/AVG_RENTS/BY_ZONE", "avg_rent_by_zone")

,zone,year,studio,one_bedroom,two_bedroom,three_bedroom_plus,total
0,West End/Stanley Park,2016,"1,050","1,366","2,109","3,158","1,418"
1,English Bay,2016,"1,133","1,441","2,110",NaN,"1,473"
2,Downtown,2016,"1,157","1,434","2,252","3,101","1,476"
3,South Granville/Oak,2016,"1,051","1,295","1,789","2,199","1,359"
4,Kitsilano/Point Grey,2016,"1,055","1,314","1,819","2,665","1,392"

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 225 entries, 0 to 224
Data columns (total 7 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   zone                225 non-null    object
 1   year                225 non-null    int64
 2   studio              222 non-null    object
 3   one_bedroom         225 non-null    object
 4   two_bedroom         225 non-null    object
 5   three_bedroom_plus  199 non-null    object
 6   total               225 non-null    object
dtypes: int64(1), object(6)
memory usage: 12.4+ KB

None

year
2016    25
2017    25
2018    25
2019    25
2020    25
2021    25
2022    25
2023    25
2024    25
Name: count, dtype: int64

In [12]:
# Run test sequence for rents by neighborhood

avg_rent_by_nbhd_df = test_sequence(f"{PATH}/AVG_RENTS/BY_NEIGHBORHOOD", "avg_rent_by_neigh")

,nbhd,year,studio,one_bedroom,two_bedroom,three_bedroom_plus,total
0,Ambleside,2016,"1,120","1,461","2,337",NaN,"1,723"
1,Capital Hill/Brentwood,2016,762,992,"1,242","1,377","1,059"
2,Cedar Cottage,2016,"1,085",962,"1,377",NaN,"1,086"
3,Central Lonsdale,2016,"1,068","1,271","1,493",NaN,"1,312"
4,Central Park,2016,"1,106","1,100","1,473","1,784","1,208"

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 612 entries, 0 to 611
Data columns (total 7 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   nbhd                612 non-null    object
 1   year                612 non-null    int64
 2   studio              445 non-null    object
 3   one_bedroom         579 non-null    object
 4   two_bedroom         574 non-null    object
 5   three_bedroom_plus  322 non-null    object
 6   total               583 non-null    object
dtypes: int64(1), object(6)
memory usage: 33.6+ KB

None

year
2016    68
2017    68
2018    68
2019    68
2020    68
2021    68
2022    68
2023    68
2024    68
Name: count, dtype: int64

In [16]:
# Check average rent by nbhd dataframe
avg_rent_by_nbhd_df.head(10)

,nbhd,year,studio,one_bedroom,two_bedroom,three_bedroom_plus,total
0,Ambleside,2016,"1,120","1,461","2,337",NaN,"1,723"
1,Capital Hill/Brentwood,2016,762,992,"1,242","1,377","1,059"
2,Cedar Cottage,2016,"1,085",962,"1,377",NaN,"1,086"
3,Central Lonsdale,2016,"1,068","1,271","1,493",NaN,"1,312"
4,Central Park,2016,"1,106","1,100","1,473","1,784","1,208"
5,Cloverdale/Fleetwood,2016,NaN,807,"1,071",NaN,902
6,Collingwood,2016,976,"1,099","1,493",NaN,"1,249"
7,Coquitlam East,2016,NaN,"1,014","1,282",NaN,"1,204"
8,Coquitlam West,2016,783,892,"1,109","1,416",997
9,Deer Lake,2016,NaN,NaN,NaN,NaN,NaN

In [17]:
# Examine geographic dataframe gdf
examine_df('geographic data frame', gdf)

Number of records in the geographic data frame is: 68

The columns in the geographic data frame are: Index(['nbhd', 'zone', 'geometry'], dtype='object')


 Other info about geographic data frame:
<class 'geopandas.geodataframe.GeoDataFrame'>
RangeIndex: 68 entries, 0 to 67
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   nbhd      68 non-null     object
 1   zone      68 non-null     object
 2   geometry  68 non-null     geometry
dtypes: geometry(1), object(2)
memory usage: 1.7+ KB

None

Sample of records in the geographic data frame:

,nbhd,zone,geometry
0,West End/Stanley Park North,West End/Stanley Park,"POLYGON ((-13707903.9912 6324277.8928, -137077..."
1,West End/Stanley Park South,West End/Stanley Park,"POLYGON ((-13709954.8083 6328768.906, -1370897..."
2,English Bay,English Bay,"POLYGON ((-13708084.9552 6323746.4388, -137079..."
3,Downtown Central,Downtown,"POLYGON ((-13706769.2699 6325491.9126, -137066..."
4,North False Creek,Downtown,"POLYGON ((-13705341.8537 6321743.5686, -137053..."

In [13]:
# Impute missing rent data

# Step 1: Merge neighborhood-to-zone info
nbhd_with_zone = avg_rent_by_nbhd_df.merge(gdf, on='nbhd', how='left')

# Step 2: Merge with zone-level rent data on zone + year
merged = nbhd_with_zone.merge(
    avg_rent_by_zone_df,
    on=['zone', 'year'],
    how='left',
    suffixes=('', '_zone')
)

display(merged.head(10))

# Step 3: Fill nulls in each rent column with corresponding zone values
rent_columns = ['studio', 'one_bedroom', 'two_bedroom', 'three_bedroom_plus', 'total']
for col in rent_columns:
    merged[col] = merged[col].fillna(merged[f"{col}_zone"])

# Step 4: Drop the temporary zone-based columns
merged = merged.drop(columns=[f"{col}_zone" for col in rent_columns])

# Optional: If you want the result in the same shape as avg_rent_by_nbhd_df
avg_rent_by_nbhd_df_filled = merged[avg_rent_by_nbhd_df.columns]

,nbhd,year,studio,one_bedroom,two_bedroom,three_bedroom_plus,total,zone,geometry,studio_zone,one_bedroom_zone,two_bedroom_zone,three_bedroom_plus_zone,total_zone
0,Ambleside,2016,"1,120","1,461","2,337",NaN,"1,723",West Vancouver,"POLYGON ((-13708220.2987 6331099.8864, -137081...","1,237","1,484","2,229","3,670","1,746"
1,Capital Hill/Brentwood,2016,762,992,"1,242","1,377","1,059",North Burnaby,"POLYGON ((-13688313.5153 6325092.3595, -136877...",820,"1,062","1,383","1,663","1,193"
2,Cedar Cottage,2016,"1,085",962,"1,377",NaN,"1,086",Mount Pleasant/Renfrew Heights,"POLYGON ((-13699643.2645 6318705.1709, -136996...",998,"1,103","1,458","1,672","1,148"
3,Central Lonsdale,2016,"1,068","1,271","1,493",NaN,"1,312",North Vancouver CY,"POLYGON ((-13700444.2632 6328120.2324, -137005...","1,001","1,176","1,439","1,818","1,249"
4,Central Park,2016,"1,106","1,100","1,473","1,784","1,208",Central Park/Metrotown,"POLYGON ((-13693045.1005 6316195.3582, -136928...",979,"1,034","1,372","1,741","1,125"
5,Cloverdale/Fleetwood,2016,NaN,807,"1,071",NaN,902,Surrey,"POLYGON ((-13656553.3403 6306265.4554, -136565...",728,855,"1,006","1,259",960
6,Collingwood,2016,976,"1,099","1,493",NaN,"1,249",Southeast Vancouver,"POLYGON ((-13698060.3777 6316470.0113, -136979...",958,"1,159","1,461","1,342","1,239"
7,Coquitlam East,2016,NaN,"1,014","1,282",NaN,"1,204",Tri-Cities,"POLYGON ((-13667322.2962 6334668.4205, -136670...",761,897,"1,130","1,475","1,042"
8,Coquitlam West,2016,783,892,"1,109","1,416",997,Tri-Cities,"POLYGON ((-13671782.674 6321398.1538, -1367221...",761,897,"1,130","1,475","1,042"
9,Deer Lake,2016,NaN,NaN,NaN,NaN,NaN,Southeast Burnaby,"POLYGON ((-13691923.8015 6318185.3615, -136919...",767,901,"1,099","1,265",970

## Working with tracts

In [20]:
# Run test sequence for rents by tract

avg_rent_by_tract_df = test_sequence("AVG_RENTS/BY_TRACT", "avg_rent_by_tract")

,Tract,Year,Bachelor,Bachelor DQ,1 Bedroom,1 Bedroom DQ,2 Bedroom,2 Bedroom DQ,3 Bedroom +,3 Bedroom + DQ,Total,Total DQ
0,0002.01,2016,NaN,NaN,NaN,NaN,"1,372",a,NaN,NaN,"1,153",a
1,0003.01,2016,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,0003.02,2016,NaN,NaN,837,a,970,b,NaN,NaN,861,a
3,0004.01,2016,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,0005.00,2016,833,a,963,a,"1,219",a,"1,393",a,995,a

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2551 entries, 0 to 2550
Data columns (total 12 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Tract           2551 non-null   object
 1   Year            2551 non-null   int64
 2   Bachelor        681 non-null    object
 3   Bachelor DQ     681 non-null    object
 4   1 Bedroom       1099 non-null   object
 5   1 Bedroom DQ    1099 non-null   object
 6   2 Bedroom       1090 non-null   object
 7   2 Bedroom DQ    1090 non-null   object
 8   3 Bedroom +     224 non-null    object
 9   3 Bedroom + DQ  224 non-null    object
 10  Total           1202 non-null   object
 11  Total DQ        1202 non-null   object
dtypes: int64(1), object(11)
memory usage: 239.3+ KB

None

Year
2024    309
2023    307
2021    279
2022    279
2020    278
2018    277
2017    276
2019    274
2016    272
Name: count, dtype: int64

In [15]:
# Check and count tracts
tracts = avg_rent_by_tract_df['Tract'].unique()
print(f"Number of tracts is {len(tracts)}")
display(tracts[:10])

Number of tracts is 366

array(['0002.01', '0003.01', '0003.02', '0004.01', '0005.00', '0006.01',
       '0006.02', '0007.01', '0007.02', '0009.00'], dtype=object)

## Export files and information

In [15]:
# Extract list of zones
zones = avg_rent_by_zone_df['Zone'].unique()
display(zones)
print(f"Number of zones: {len(zones)}")

array(['West End/Stanley Park', 'English Bay', 'Downtown',
       'South Granville/Oak', 'Kitsilano/Point Grey',
       'Westside/Kerrisdale', 'Marpole', 'Mount Pleasant/Renfrew Heights',
       'East Hastings', 'Southeast Vancouver',
       'University Endowment Lands', 'Central Park/Metrotown',
       'Southeast Burnaby', 'North Burnaby', 'New Westminster',
       'North Vancouver CY', 'North Vancouver DM', 'West Vancouver',
       'Richmond', 'Delta', 'Surrey', 'White Rock',
       'Langley City and Langley DM', 'Tri-Cities',
       'Maple Ridge/Pitt Meadows'], dtype=object)

Number of zones: 25

In [11]:
# Check and count neighborhoods
neighs = avg_rent_by_neigh_df['Neigh'].unique()
print(f"Number of neighborhoods is {len(neighs)}")

Number of neighborhoods is 68

In [21]:
# Add 933 prefix to CMHC census tracts

# First, ensure the tract column is a string
avg_rent_by_tract_df['Tract'] = avg_rent_by_tract_df['Tract'].astype(str)

# Pad with '933' prefix to match StatsCan CTUID format
avg_rent_by_tract_df['Tract'] = '933' + avg_rent_by_tract_df['Tract']

In [17]:
# Export average rents by neighborhood to csv
avg_rent_by_neigh_df.to_csv("C:/Users/emshe/Desktop/BRAINSTATION/CAPSTONE/GIT_REPO/DATA/ECONOMIC/PROCESSED_DATAFRAMES/avg_rent_by_neigh.csv", index=False)

In [23]:
# Export average rents by tract to csv
avg_rent_by_tract_df.to_csv("C:/Users/emshe/Desktop/BRAINSTATION/CAPSTONE/GIT_REPO/DATA/ECONOMIC/PROCESSED_DATAFRAMES/avg_rent_by_tract.csv", index=False)

## Miscellaneous

In [8]:
# Define subfolders and prefixes
folder_prefixes = [
    ("BY_TRACT", "avg_rent_by_tract"),
    ("BY_NEIGHBORHOOD", "avg_rent_by_neigh")
]

# Initialize
multi_proc = MultiFolderDataProcessor("AVG_RENTS", folder_prefixes)

# Get 2020 data from BY_NEIGHBORHOOD
df_neigh_2020 = multi_proc.get_data("BY_NEIGHBORHOOD", 2020)

# Get 2017 data from BY_TRACT
df_tract_2017 = multi_proc.get_data("BY_TRACT", 2017)


display(df_neigh_2020.tail(5))
display(df_tract_2017.tail(5))

,Neigh,Bachelor,Bachelor DQ,1 Bedroom,1 Bedroom DQ,2 Bedroom,2 Bedroom DQ,3 Bedroom +,3 Bedroom + DQ,Total,Total DQ
63,West End/Stanley Park South,"1,202",a,"1,493",a,"2,196",a,NaN,NaN,"1,499",a
64,Westside Heights,"1,020",a,"1,253",a,"1,482",a,"1,742",a,"1,284",a
65,Westside/Kerrisdale Remainder,NaN,NaN,"1,609",a,"2,291",a,"2,999",a,"1,919",a
66,Whalley,715,b,"1,185",a,"1,207",a,"1,535",a,"1,242",a
67,White Rock,946,b,"1,091",a,"1,422",a,NaN,NaN,"1,191",a

,Tract,Bachelor,Bachelor DQ,1 Bedroom,1 Bedroom DQ,2 Bedroom,2 Bedroom DQ,3 Bedroom +,3 Bedroom + DQ,Total,Total DQ
271,0504.11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
272,0504.12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
273,0505.01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
274,0506.01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
275,0506.02,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [9]:
# Define subfolders and prefixes
folder_prefixes = [
    ("BY_TRACT", "avg_rent_by_tract"),
    ("BY_NEIGHBORHOOD", "avg_rent_by_neigh")
]

# Initialize
multi_proc = MultiFolderDataProcessor("AVG_RENTS", folder_prefixes)

# Get 2020 data from BY_NEIGHBORHOOD
df_neigh_2016 = multi_proc.get_data("BY_NEIGHBORHOOD", 2020)

# Get 2017 data from BY_TRACT
df_tract_2020 = multi_proc.get_data("BY_TRACT", 2020)


display(df_neigh_2016.tail(5))
display(df_tract_2020.tail(5))

,Neigh,Bachelor,Bachelor DQ,1 Bedroom,1 Bedroom DQ,2 Bedroom,2 Bedroom DQ,3 Bedroom +,3 Bedroom + DQ,Total,Total DQ
63,West End/Stanley Park South,"1,202",a,"1,493",a,"2,196",a,NaN,NaN,"1,499",a
64,Westside Heights,"1,020",a,"1,253",a,"1,482",a,"1,742",a,"1,284",a
65,Westside/Kerrisdale Remainder,NaN,NaN,"1,609",a,"2,291",a,"2,999",a,"1,919",a
66,Whalley,715,b,"1,185",a,"1,207",a,"1,535",a,"1,242",a
67,White Rock,946,b,"1,091",a,"1,422",a,NaN,NaN,"1,191",a

,Tract,Bachelor,Bachelor DQ,1 Bedroom,1 Bedroom DQ,2 Bedroom,2 Bedroom DQ,3 Bedroom +,3 Bedroom + DQ,Total,Total DQ
273,0504.11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
274,0504.12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
275,0505.01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
276,0506.01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
277,0506.02,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN